/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.text-light-gray {
    color: #3A3A3A;
}

.btn-primary {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    display: inline-flex;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 41px;
    background: #E02C6D;
    border: 0;
}
.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

/* header styles */
header{
    gap: 494px;

}
.section-title{
    width: 243px;
    height: 52.2px;
    color: #3A3A3A;
    padding-left: 120px;
    padding-top: 87px;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav>ul {
    display: flex;
    padding-right: 120px;
}

nav li {   
    list-style: none;
    margin-right: 40px;
    padding-top: 96px;


}

nav li a {
    text-decoration: none;
    width: 49px;
    height: 34.8px;
    color: #3A3A3A;

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    gap: 133px;
    padding-left: 120px;


}
.banner-content {
    width: 582px;
    height: 270px;
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;

}

.banner-title {
    width: 582px;
    height: 133px;
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}

.banner img {
    width: 475px;
    height: 475px;
    border-radius: 475px;

    border: 3px solid var(--Brand-Purple-100, #F1E4FF);
}
/* sponsors styles */
section {

}
hr{
    width: 1110px;
    height: 1px;
    margin-top: 69px;
    padding-left: 165px;
    padding-right: 165px;
    fill: linear-gradient(90deg, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50.38%, rgba(192, 204, 218, 0.10) 100%);

}


.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 43px;
    padding-left: 227px;
    padding-right: 226px;
    align-items: center;

    
}

.sponsors-img-container img {
    width: 84px;
    height: 50px;

}
/* card section styles */
.head{
    text-align: center;
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
}
.card{
    padding-bottom: 60px;
    width: 329px;
    height: 410px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.card img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
    padding-top: 17px;
    padding-left: 12px;
}
.card , h3 , p {
    padding-left: 14px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
     padding-left: 500px; 
    padding-right: 500px; 
    align-items: center;
}
/* last-container styles */
.last-container{
    display: flex;
    margin-top: 174px;
    row-gap: 100px;
    padding-left: 500px; 
    padding-right: 500px;  
    /* text-align: center; */
    align-items: center;
    justify-content: space-between;
}
.footer{
    text-align: center;
    width: 100%;
    height: 239px;
    background:#0A0826;
}
#text{
    color: var(--Text-Gray-300, #D9DBE1);
    padding-top: 50px;
    font-feature-settings: 'liga' off;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    /* line-height: 24px;  */
}
